{% extends 'Client/dashboard.layout.html.twig' %}

{% block meta %}
    {% if data.metaDescription is defined %}
        <meta name="description" content="{{ data.metaDescription }}">
    {% endif %}

    {% if data.metaKeyword is defined %}
        <meta name="keyword" content="{{ data.metaKeyword }}">
    {% endif %}
{% endblock %}

{% block title %}Article{% endblock %}

{% block content %}
    <section id="main-content">
        <div class="container-fluid">
            <div class="row flex-row">
                <div class="col-md-3 content-wrapper no-padding dark-background">
                    <div class="login-wrapper grey-background ptb-25 plr-30">
                        <p class="fz-19 text-sunflower">LOGIN</p>
                        <form action="">
                            <div class="form-group">
                                <label for="_username" class="text-clouds iq-fw-400">Nama Pengguna :</label>
                                <input type="text" class="form-control" id="_username" name="_username">
                            </div>
                            <div class="form-group">
                                <label for="_password" class="text-clouds iq-fw-400">Kata Sandi :</label>
                                <input type="password" class="form-control" id="_password" name="_password">
                            </div>
                            <div class="form-group text-right">
                                <input type="submit" value="Masuk" class="btn red-button plr-30">
                            </div>
                        </form>
                    </div>
                    <div class="kurs-wrapper dark-background">
                        <span class="iq-fw-700 iq-fz-15 kurs-title">Kurs</span>
                        <span class="right">Transaksi wajib menggunakan berita transfer</span>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>E-Currency</th>
                                <th>Stock</th>
                                <th>Deposit</th>
                                <th>Withdrawal</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <img alt="" src="../web/img/img-1.png"> Firewood
                                </td>
                                <td>Rp 13,000</td>
                                <td>Rp 14,000</td>
                                <td>Rp 15,000</td>
                            </tr>
                            <tr>
                                <td>
                                    <img alt="" src="../web/img/img-1.png"> Firewood
                                </td>
                                <td>Rp 13,000</td>
                                <td>Rp 14,000</td>
                                <td>Rp 15,000</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="banner">
                        <img src="../web/img/640x480.png" alt="">
                    </div>
                    <div class="latest-news dark-background ptb-25 plr-30">
                        <p class="text-sunflower fz-19">Latest News</p>
                        <div class="row">
                            {% for new in latest %}
                                <div class="item">
                                    <div class="col-xs-12">
                                        <a href="{{ path('popem_client_detail_blog',{slug: new.slug }) }}">
                                            <p class="news-title text-pome iq-fw-700">
                                                {% if new.title is defined %}
                                                    {{ new.title }}
                                                {% endif %}
                                            </p>
                                        </a>
                                         <p class="news-desc text-clouds">
                                             {% if new.body is defined %}
                                                 {{ new.body | raw }}
                                             {% endif %}
                                         </p>
                                        </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-9 no-padding content-wrapper">
                    <div class="img-header">
                        {% if data.image is defined %}
                            <img src="{{ asset('uploads') }}/image/post/{{ data.image }}" alt="" class="img-responsive">
                        {% else %}
                            <img src="http://placehold.it/640x480" alt="" class="img-responsive">
                        {% endif %}
                    </div>
                    {#<ul class="breadcrumb">#}
                        {#<li><a href="#">Beranda</a></li>#}
                        {#<li><a href="#">Artikel</a></li>#}
                        {#<li><a href="#">Uang</a></li>#}
                        {#<li>Sejak 2015, Tangkapan ikan tuna RI menurun</li>#}
                    {#</ul>#}
                    <div class="container">

                        <div class="article">
                            <h2>{% if data.title is defined %}{{ data.title }}{% else %}-{% endif %}</h2>
                            <span class="article-date text-concrete">
                                {{ data.publishedAt is empty ? "" : data.publishedAt|date('d M Y') }}
                            </span>
                            {#<span class="article-writer">&nbsp;<a href="#">Admin</a></span>#}

                            <div class="article-content pb-50">
                                {% if data.body is defined %}
                                {{ data.body | raw }}
                                {% else %}
                                    -
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="related-news pb-50">
                        <div class="container">
                            <p><strong>Baca Juga</strong></p>
                            <div class="row">
                                {% for rela in related %}
                                    <div class="col-md-3 col-sm-6">
                                        {% if rela.image is defined %}
                                            <img src="{{ asset('uploads') }}/image/post/{{ rela.image }}" alt="" class="img-responsive mb-10">
                                        {% else %}
                                            <img src="http://placehold.it/640x480" alt="" class="img-responsive mb-10">
                                        {% endif %}
                                        <p><a href="{{ path('popem_client_detail_blog',{slug: rela.slug}) }}">{{ rela.title }}</a></p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}