{% extends 'Client/dashboard.layout.html.twig' %}

{% block mainContent %}
    <div class="container">
        <h2>Add Account to Client</h2>
        <p class="mb-20 text-info">Pastikan akun anda telah terverifikasi sebelumnya.</p>

        <div class="row">
            <div class="col-md-8">
                <form action="{{ path('popem_client_add_account') }}" method="post">
                    <div class="form-group">
                        <label for="a_login">Login</label>
                        <input type="number" class="form-control" id="a_login"
                               name="a_login" required autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="a_broker_id">Broker</label>
                        <select name="a_broker_id" id="a_broker_id" class="form-control">
                            <option value="null">-- Please select --</option>
                            {% for info in information.broker.data.data %}
                                <option value="{{ info.broker_id }}" data-buy="{{ info.buy }}" data-sell="{{ info.sell }}">{{ info.broker_name }}</option>
                            {% endfor %}
                        </select>
                        <div class="row mt-10">
                            <div class="col-md-5 col-md-offset-1">Buy : <span id="buy-value">-</span></div>
                            <div class="col-md-6">Sell : <span id="sell-value">-</span></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="a_phone_password">Phone Password</label>
                        <input type="password" class="form-control"
                               id="a_phone_password" name="a_phone_password" required autocomplete="off">
                    </div>
                    <div class="form-group text-right"><input type="submit" value="Add Account" class="btn red-button"></div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}