{% extends 'Client/layout.html.twig' %}

{% block content %}
    <section id="main-content">
        <div class="container-fluid">
            <div class="row flex-row">
                <div class="col-md-3 content-wrapper no-padding dark-background">
                    <div id="account-summary" class="dark-background ptb-25 plr-30">
                        <div class="text-center">
                            <img src="{{ asset('assets_client') }}/img/profile.jpg" alt="" class="img-dashboard"
                                 height="100">
                            <p class="text-sunflower fz-19 mt-20">Jimmy Fish</p>
                            <p class="text-clouds">$ <span id="balance">12000</span></p>
                            <p>
                                <a href="{{ path('popem_client_logout') }}">
                                    Logout
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="sidebar-menu">
                        <div class="panel-group" id="accordionMenu" role="tablist" aria-multiselectable="true">
                            <a href="{{ path('popem_client_dashboard') }}">Dashboard</a>
                            <a href="{{ path('popem_client_validate_client') }}">Validate Client</a>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionMenu" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Account
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <ul class="nav">
                                            <li><a href="{{ path('popem_client_add_account') }}">Add Account</a></li>
                                            <li><a href="{{ path('popem_client_validate_account') }}">Validate Account</a></li>
                                            <li><a href="{{ path('popem_client_transfer_account') }}">Transfer Account</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {#<div class="panel panel-default">#}
                                {#<div class="panel-heading" role="tab" id="headingThree">#}
                                    {#<h4 class="panel-title">#}
                                        {#<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionMenu" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">#}
                                            {#Account#}
                                        {#</a>#}
                                    {#</h4>#}
                                {#</div>#}
                                {#<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">#}
                                    {#<div class="panel-body">#}
                                        {#<ul class="nav">#}
                                            {#<li><a href="#">item 1</a></li>#}
                                            {#<li><a href="#">item 2</a></li>#}
                                            {#<li><a href="#">item 3</a></li>#}
                                            {#<li><a href="#">item 4</a></li>#}
                                        {#</ul>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        </div>
                    </div>
                    <div class="latest-news dark-background ptb-25 plr-30">
                        <p class="text-sunflower fz-19">Latest News</p>
                        <div class="row">
                            <div class="item">
                                <div class="col-xs-12">
                                    <a href="#">
                                        <p class="news-title text-base iq-fw-700">Usai diperiksa, Novanto cerita soal
                                            kecelakaan hingga ngaku luka berat</p>
                                    </a>
                                    <p class="news-desc text-clouds">Ketua DPR Setya Novanto menjelaskan mengenai
                                        kecelakaan lalu lintas yang dialami sehingga membuat dirinya harus masuk rumah
                                        sakit.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-xs-12">
                                    <a href="#">
                                        <p class="news-title text-base iq-fw-700">Panglima TNI beberkan ciri-ciri ulama
                                            palsu yang tak perlu diikuti</p>
                                    </a>
                                    <p class="news-desc text-clouds">Di samping itu, ulama di Indonesia selalu
                                        memberikan tausiyah kepada umatnya untuk menjadi seorang muslim yang cinta
                                        bangsa dan Negara</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-xs-12">
                                    <a href="#">
                                        <p class="news-title text-base iq-fw-700">Upaya Setnov lolos dari jeratan KPK
                                            hingga akhirnya dijebloskan ke penjara</p>
                                    </a>
                                    <p class="news-desc text-clouds">Penahanan itu melalui proses panjang hingga
                                        perlawanan hukum dari ketua DPR tersebut. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 content-wrapper">
                    {% block mainContent %}{% endblock %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block vendorJS %}
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.material.min.js"></script>
{% endblock %}

{% block customJS %}
    <script>
        {% include '@main_template/Client/additional/dashboard.js.twig' %}
    </script>
    {% block innerJS %}{% endblock %}
{% endblock %}