{% extends 'Client/dashboard.layout.html.twig' %}

{% block mainContent %}
    <div class="container">
        <h2>Detail Akun
            {#<span class="pull-right"><a href="#" class="fz-16">Edit Profil</a></span>#}
        </h2>
        <div class="row mt-20">
            <div class="col-md-3 col-xs-3">
                <img src="{{ asset('assets_client') }}/img/profile.jpg" alt="" class="img-responsive">
            </div>
            <div class="col-md-9 col-xs-9">
                <div class="detail-wrapper">
                    <p class="mb-0 text-concrete">Nama :</p>
                    <h4>{% if (data.name|length == 0) %}Anonymous{% else %}{{ data.name }}{% endif %}</h4>
                </div>
            </div>
        </div>
        <div class="profile-details mt-50">
            {% for msg in app.session.getFlashBag().get('message') %}
                <div class="alert alert-info alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ msg }}
                </div>
            {% endfor %}
            {% for msg in app.session.getFlashBag().get('message_success') %}
                <div class="alert alert-success alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ msg }}
                </div>
            {% endfor %}
            {% for msg in app.session.getFlashBag().get('message_error') %}
                <div class="alert alert-warning alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ msg }}
                </div>
            {% endfor %}
            <table class="table">
                <tr>
                    <th><span class="hidden-xs">Alamat </span>E-Mail</th>
                    <td>{{ data.email }} <i class="fa fa-check-circle text-river"></i></td>
                </tr>

                <tr>
                    <th><span class="hidden-xs">Nomor </span>Telefon</th>
                    <td>{{ data.phone }}</td>
                </tr>

                <tr>
                    <th>Alamat</th>
                    {#<td>172hkk9wr1ruJiX1DuAF7RsBq3FCLtYqvi <a href="#" class="btn btn-primary btn-xs pull-right"><i class="fa fa-clone"></i>&nbsp; Copy</a></td>#}
                    <td>
                        {{ data.address }}, {{ data.city }}
                        <br>{{ data.state }} - {{ data.postal_code }}
                        <br>{{ data.country }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}